<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="" method="post">
        {% csrf_token %}
        <input type="number" name="rollno" id="" placeholder="roll no" value="{{data.rollno}}">
        <input type="text" name="name" id="" placeholder="name" value="{{data.name}}">
        <input type="number" name="age" id="" placeholder="Age" value="{{data.age}}">
        <input type="submit" value="update">
    </form>
</body>

</html> -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="" method="post">
        {% csrf_token %}
        <input type="number" name="rollno" id="" placeholder="roll no" value="{{data.roll_no}}">
        <input type="text" name="name" id="" placeholder="name" value="{{data.name}}">
        <input type="number" name="age" id="" placeholder="Age" value="{{data.age}}">
        <input type="submit" value="update">
    </form>
</body>

</html>